/* Стилизация кнопки */
.btn {
  display: inline-block;
  background: transparent;
  outline: none;
  border:none;
  cursor: pointer;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;;
  font-weight: 500;

  padding: 15px;
  border-radius: 8px;
  height: 48px;
  width: 100%;

  transition: opacity 200ms ease-in-out,
  background 200ms ease-in-out,
  border-color 200ms ease-in-out;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn_primary {
  color: var(--white);
  background-color: var(--blue-1);
}

.btn_primary:not(:disabled):hover {
  background-color: var(--primary);
}

.btn_secondary {
  color: #fff;
  background-color: var(--secondary);
}

.btn_secondary:not(:disabled):hover {
  background-color: var(--purple-1);
}

.btn_alternate {
  border:1px solid var(--grey-3);
  color:var(--grey-4);
}

.btn_alternate:not(:disabled):hover {
  border-color: var(--black);
}

.btn_alternate:disabled {
  opacity: 0.3;
}
