/* Стилизация аккордеона */
.accordion {
  max-width: 730px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.accordion__item {
  display: block;
  border:1px solid var(--grey-3);
  border-radius: 8px;
  padding: 23px 32px;

  font-size: 16px;
  line-height: 1.5;
}

.accordion__item:not(:last-child) {
  margin-bottom: 8px;
}

.accordion__header::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion__title {
  color:var(--black);
}

.accordion__arrow {
  width: 16px;
  height: 8px;

  transition: transform .2s ease-in-out;
}

.accordion__descr {
  color:var(--grey-4);
}

.accordion__item[open] .accordion__arrow {
  transform: rotate(-180deg);
}
