@font-face {
  font-family: 'Inter';
  src: url('./Inter-Bold.eot');
  src: local('☺'), url('./Inter-Bold.woff') format('woff'),
    url('./Inter-Bold.ttf') format('truetype'),
    url('./Inter-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
