.modal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 196, 196, 0.5);
  display: none;
}

.modal__window {
  padding: 30px 40px 23px 40px;
  max-width: 428px;
  background: var(--white);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter', sans-serif;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 12px;
}

.modal__title {
  padding: 0;
  margin: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #334D6E;

  margin-bottom: 14px;
}

.modal__body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color:var(--grey-4);
}
