.histogram {
  border:1px solid var(--grey-3);
  border-radius: 8px;
  background: var(--white);
  padding: 16px 24px 24px 26px;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  flex:1;
}

.histogram__header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 6px;
}

.histogram__subheader {
  margin-bottom: 39px;
}

.histogram__number {
  font-size: 20px;
  line-height: 1.2;
  color:var(--black);
}

.histogram__title {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color:var(--black);
  opacity: 0.8;
}

.histogram__link {
  text-decoration: none;

  font-size: 16px;
  line-height: 1.5;
  color:var(--blue-1);
}

.histogram__body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-end;
  height: 50px;

  gap:1px;
}

.histogram__item {
  background: var(--blue-1);
  flex:1;
}

.histogram_components {
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .histogram_small {
    padding: 10px;
  }

  .histogram_small .histogram__title {
    font-size: 10px;
  }

  .histogram_small .histogram__link {
    font-size: 10px;
  }

  .histogram_small .histogram__subheader {
    margin-bottom: 5px;
  }

  .histogram_small .histogram__number {
    font-size: 12px;
  }

  .histogram_small .histogram__body {
    height: 30px;
  }
}
