@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.title {
  padding: 0;
  margin: 0;
  &_nav {
    @include text(false, 400, 24px, 26px);
    color: #000;
  }

  &_window {
    @include text(false, 400, 24px, 38px);
    color: var(--grey-4);
    margin-bottom: 24px;
  }

  &_header {
    @include text(false, false, 50px, 64px);
    color: var(--black);
    @media screen and (max-width: $md-phone) {
      font-size: 28px;
      line-height: 38px;
    }
  }
}
