@import '../../assets/scss/variables';

.container {
    max-width: 1110px;
    margin: 0 auto;

    @media screen and (max-width: $md-phone) {
        max-width: 345px;
    }

    @media screen and (max-width: 1111px) {
        padding: 0 5px;
    }
}
