@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.calendar {
  box-sizing: border-box;
  width: 100%;
  max-width: 304px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  background: var(--white);
  padding: 28px 30px 20px 26px;
  font-family: 'Inter', sans-serif;

  flex: 1;
  &_small {
    max-width: 210px;
    @media screen and (max-width: $md-phone) {
      padding: 5px 10px 0 10px;
      max-width: 100%;
    }
    .calendar__title {
      font-size: 14px;
      @media screen and (max-width: $md-phone) {
        font-size: 12px;
        white-space: nowrap;
        margin-bottom: 10px;
      }
    }
    .calendar__item {
      font-size: 10px;
    }
  }

  &__title {
    padding: 0;
    margin: 0 0 24px 0;
    text-align: center;
    @include text(false, 600, 20px, 1.2, #334d6e);
  }

  &__wrapper {
    padding-bottom: 100%;
    position: relative;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  &__item {
    font-weight: 400;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_day {
      font-size: 14px;
      color: #90a0b7;
    }
    &_number {
      font-size: 16px;
      color: #334d6e;
    }
    &_first {
      grid-column-start: 5;
    }
    &_start,
    &_end {
      background: var(--blue-1);
      color: var(--white);
    }
    &_select {
      background: rgba(160, 177, 245, 0.2);
    }
  }
}
